<!DOCTYPE html>
<html>
    <head>
    <title>FT Weather App</title>
    <meta charset="UTF-8">
    <meta name="description" content="FT Weather App">
    <meta name="keywords" content="FT Weather App">
    <meta name="author" content="Ralph Galan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{!-- FT Origami styles --}}
    <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-fonts@^3.0.4,o-normalise@^1.6.2,o-loading@^2.2.2" />
    </head>

    <body>
        <div id="root"></div>
        {{!-- FT Origami script --}}
        <script src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-fonts@^3.0.4"></script>
        {{!-- App script --}}
        <script src="dist/bundle.js"></script>
    </body>
</html>